<?xml version="1.0"?>
<launch>

    <include file="$(find phantomx_description)/launch/description.launch"/>

    <node name="jsp" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true" type="bool"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find phantomx_description)/config/config.rviz" />

    <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>